<div id="browser" class="browser-container">
    <div class="browser">
        <div class="bar">
            <span class="dot red"></span>
            <span class="dot yellow"></span>
            <span class="dot green"></span>
            <a href="https://venue.apptiser.io/9965-sarao/" target="_blank" aria-label="Open demo site in a new window">
                OUVRE
            </a>
        </div>
        <div class="window">
            <iframe src="https://venue.apptiser.io/9965-sarao/"
                    aria-label="Displaying a demonstration apptiser website"></iframe>
        </div>
    </div>
</div>
