<form id="contactForm" class="form-contact-front">
    <div class="form-field">
        <input name="contact_name"
               type="text"
               required
               aria-label="NOM COMPLET"
               placeholder="NOM COMPLET">
    </div>
    <div class="form-field">
        <input name="contact_company"
               type="text"
               aria-label="NOM DE L’ETABLISSEMENT"
               required
               placeholder="NOM DE L’ETABLISSEMENT">
    </div>
    <div class="form-field">
        <input name="contact_email"
               type="email"
               aria-label="ADRESSE EMAIL"
               required
               placeholder="ADRESSE EMAIL">
    </div>
    <div class="form-field">
        <input name="contact_phone"
               type="tel"
               aria-label="TELEPHONE"
               placeholder="TELEPHONE">
    </div>
    <span class="form-info" id="formInfo">
        Ces informations seront utilisées uniquement pour vous contacter au sujet de
votre demande.
    </span>

    <button id="btnSubmit"
            class="btn btn-submit"
            aria-label="Submit your contact details">Envoyer</button>
</form>
