<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "apptiser FR",
        "@id": "https://fr.apptiser.io/#id",
        "url": "https://fr.apptiser.io/",
        "image": "https://apptiser.io/assets/images/apptiser-logo.png"
    }
</script>
